{% extends 'rockingsheep/index.html' %}
{% block content %}
<h2>historien</h2>
<pre>Det første rokkefår lavede jeg til min niece Julie som en humoristisk påmindelse om, at hun stammede fra landet. Min bror og jeg voksede op på et lille landbrug i et frodigt miljø, hvor graden af selvforsyning var stor , og begge vores  forældre var skabende mennesker. 
Træet til Julies rokkefår var genbrugstræ , gængerne fra en colareklame og lammeskindet fra et får, der havde levet sit liv på gården hos bedsteforældrene.
Billede af det første får
</pre>
{% endblock%}