{% extends 'rockingsheep/index.html' %}
{% block content %}
<h2>madeindenmark</h2>
<pre>Rokkefåret er håndlavet i Danmark på små, lokale værksteder.
Rokkefårets succes og status som  møbelklassiker  har medført, at  jeg ikke længere kan overkomme hele arbejdsprocessen. 
Da produktionsmåden er en vigtig del af rokkefårets historie og autencitet, har valget været at finde små, lokale værksteder til fremstilling af enkeltdele. 
 Jeg laver stadig meget af arbejdet, står for den endelige kvalitetskontrol og sender hvert enkelt får ud i verden.  
Det første rokkefår blev lavet med arbejdsglæde og kærlighed, og sådan fremstilles de stadig.
</pre>
{% endblock%}