{% extends 'rockingsheep/index.html' %}
{% block content %}
<h2>ombetraekning</h2>
<pre>Lammeskind er meget slidstærkt og modstandsdygtigt, og som regel kræver pelsen ingen vedligeholdelse.
 Hvis det bliver lidt trykket på ryggen kan det børstes op med en stiv børste. 
Ulden kan vaskes, men skindet må ikke blive for vådt. Hvis fåret har fået en plet på pelsen kan man skumme sæbespåner op og ”vaske” ulden med det stive skum, hvorefter det frotteres, brug evt. en klud af microfiber. Vær ikke bange for lidt sæberester i ulden, sæben beskytter uld og skind.
Hvis skindet er helt slidt ned efter mange års brug, og skal til at gynge med en ny generation, kan det ombetrækkes. Samtidig med ombetrækningen gennemgås fåret og efterspændes om nødvendigt. 
Vil du have ombetrukket et får, eller 
Pris for ombetrækning xxx kr.
Vil du have et nyt rokkefår med dit eget lammeskind, er dette også en mulighed.
Renovering og ombetrækning kun ved direkte henvendelse. 
Billede af slidt rokkefår
</pre>
{% endblock%}