{% extends 'rockingsheep/index.html' %}
{% block content %}
<h2>produktinfo</h2>
<pre>Rokkefår
 H: 60cm (sæde 40 cm) B: 25cm L: 85cm
Stel i lakeret fyrretræ, polstret med skumgumme, betrukket med et helt lammeskind   
Rokkefåret  følger  barnet højt op i alderen, først som lege- klappedyr, siden som skammel og fodskammel . 
Når det ikke er i brug, står det som et smukt møbel i rummet.
Vejl. pris xxxx kr
Prisliste i PDF 

Rokkelam
 Nøjagtig skalamodel i 1:2. Børn kan ikke gynge på lammet.
 H: 30cm, B: 12 cm, L: 42 cm
Vejl.  pris rokkelam xxxx kr  
</pre>
{% endblock%}