{% extends 'rockingsheep/index.html' %}
{% block content %}
<h2>Lammeskind</h2>
<pre>Lammeskind
Lammeskindene til rokkefåret kommer hovedsagelig fra Island, England og Irland samt i mindre grad fra New Zealand.
Skindet og det håndskårne hoved giver  hvert rokkefår sin egen personlighed. Der findes ikke to rokkefår, der er ens. 
De forskellige skindtyper har hver deres karakter. I perioder vil nogle typer være udsolgt, da hvert års tilgang af skind er forskellig i karakter og mængde. 
Jeg bruger kun de bedste garverier, de fleste har jeg samarbejdet med i mange år, og forsøger på den måde hele tiden at få de bedste skind til rokkefårene. </pre>
<h2>Salg af lammeskind  </h2>
<pre>
  Mere end 30 år med fingrene dybt begravet i lammeskind har givet en stor erfaring på området.
Er du interesseret i at købe lammeskind til dekoration, er du velkommen til at henvende dig direkte, da vi altid har mange typer skind til salg.  
</pre>
{% endblock%}